* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.header {
    background-color: rgba(222, 212, 111, .7);
    width: 100%;
}

.navBar .navBar__links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navBar .navBar__links li {
    padding: .8rem;
}

.navBar .navBar__links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.navBar .navBar__links li:hover {
    background-color: rgba(222, 212, 111, .9);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-content: center;
}


/* Start Game Area */


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.players {
    display: flex;
    flex-direction: row;
}

.clearboth {
    clear: both;
}

.player {
    border-style: solid;
    width: 170px;
    height: 350px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.player span {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.player .icons1 {
    font-size: 5em;
    color: rgba(65, 105, 225, .8);
}

.player .icons2 {
    font-size: 5em;
    color: rgba(255, 0, 0, .8);
}

.player .player_sticks {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.game_area {
    width: 70%;
    position: relative;
    background-color: #EEE;
}

.game_area .game_sticks {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.game_area .game_sticks img {
    width: 100px;
    height: 100px;
    margin: 1px;
    padding: .5rem;
    border-bottom: 2px solid rgba(0, 92, 230, .6);
}

.game_area .game_sticks img:hover {
    border-bottom: 2.5px solid rgba(0, 92, 230, .8);
}

.choice {
    text-align: center;
    margin: 10px 0 10px;
    text-align: center;
}

.choice button {
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: rgba(0, 92, 230, .8);
    color: #FFF;
    outline: none;
}

.start_over {
    text-align: center;
    margin: 10px;
}

.start_over button {
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: rgba(0, 92, 230, .8);
    color: #FFF;
    outline: none;
    font-size: 15px;
}

.active {
    background-color: rgba(0, 92, 230, .5);
}

.info_area {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.rules {
    background-color: yellow;
    margin-top: 30px;
    margin-right: 50px;
    width: 300px;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: drop-shadow(10px 20px 4px rgb(167, 167, 3));
    transform: rotate(-20deg);
    float: left;
}

.highscore {
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    background-color: rgba(0, 92, 230, .8);
    color: #FFF;
}

.highscoreHid {
    visibility: hidden;
}

.highscore span {
    display: block;
    font-size: 18px;
    padding: .5rem;
    ;
}


/* End Game Area */


/* Start Grid System */

@media (min-width: 576px) {
    /* Small Devices => Landscape Phones */
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    /* Medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    /* Desktops */
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    /* Large Screens */
    .container {
        max-width: 1140px;
    }
}


/* End Grid System */